.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

h2 {
    margin: auto;
    color: #1DB954;
}

.spotify_logo {
    height: 300px;
}