.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
}

h2 {
    margin: 0;
    padding: 0;
    color: #1DB954;
}

.spotify_logo {
    height: 200px;
}