#scroll_down a {
  padding-top: 60px;
}
#scroll_down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #F41F4E;
  border-radius: 100%;
  box-sizing: border-box;
}
#scroll_down a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #F41F4E;
  border-bottom: 1px solid #F41F4E;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll_down a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 #FFC2C7;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sd 3s infinite;
  -moz-animation: sd 3s infinite;
  -o-animation: sd 3s infinite;
  animation: sd 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sd {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #FFC2C7;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px #FFC2C7;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
