<mdc-dialog>
    <mdc-dialog-container>
        <mdc-dialog-surface>
            <mdc-dialog-title>Audio Features</mdc-dialog-title>
            <mdc-dialog-content>
                <div *ngIf="notAvailable; else elseTemplate">
                    <p>{{ mood }}</p>
                </div>
                <ng-template #elseTemplate>
                    <p>BPM: {{ mood.bpm }}</p>
                    <p>KEY: {{ mood.key }}</p>
                    <p>VALENCE: {{ mood.valence }}</p>
                    <p>DANCEABILITY: {{ mood.danceability }}</p>
                    <p>ENERGY: {{ mood.energy }}</p>
                </ng-template>
            </mdc-dialog-content>
        </mdc-dialog-surface>
    </mdc-dialog-container>
</mdc-dialog>