@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

.main_container {
  background-color: #fbfbfb;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .music_text_container {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .music_text {
      // margin: 0 auto 10% auto;
      // padding: 10% 10% 0 10%;
      width: 80%;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      letter-spacing: 0.15em;
      font-size: 200%;
      color: #f41f4e;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .get_input {
    margin: 0 auto;

    .mid {
      .inner {
        .title {
          text-align: center;
          font-family: "Poppins", sans-serif;
          color: rgb(214, 52, 66);
          font-weight: 500;
          margin: 0 10px 10px 10px;
        }

        .input {
          width: 50vw;
          margin: 0 auto;
        }

        .btn_submit {
          margin-top: 20px;
          margin-bottom: 3rem;
          text-align: center;

          button {
            display: inline-block;
          }
        }
      }
    }
  }

  .loading {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  .success {
    height: 50px;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.result {
  background-color: #fbfbfb;

  .result_text {
    font-family: "Poppins", sans-serif;
    padding: 30px 0 0 0;
    margin: 0 auto 30px auto;
    text-align: center;
    color: #cd5360;
  }
}

.card {
  width: 60%;
  margin: 20px auto;

  .row_1 {
    height: 80%;

    .col_1 {
      width: 70%;
      float: left;

      .img {
        float: left;
        margin-right: 20px;
      }

      img {
        width: 250px;
        height: 250px;
      }

      .music_info {
        padding: 8px 16px;
        max-height: 10px;

        div {
          margin-top: 2%;
          font-family: "Poppins", sans-serif;
        }
      }
    }

    .col_2 {
      width: 30%;
      float: right;
      text-align: center;
      display: flex;
      padding-top: 7%;

      .stress_icon {
        width: 50%;
        float: left;
      }

      .energy_icon {
        width: 50%;
        float: right;
      }

      img {
        width: 125px;
        height: 125px;
      }
    }
  }

  .row_2 {
    margin: 8px;

    .audio_player {
      margin-left: 10px;
    }
  }
}

.music_text span {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  
  opacity: 0;

  animation: head 40s infinite linear;
  -o-animation: head 40s infinite linear;
  -moz-animation: head 40s infinite linear;
  -webkit-animation: head 40s infinite linear;

  $spans: 4;
  @for $i from 2 through $spans {
      &:nth-of-type(#{$i}) {
          animation-delay: 10*(-1s+$i);
          -o-animation-delay: 10*(-1s+$i);
          -moz-animation-delay: 10*(-1s+$i);
          -webkit-animation-delay: 10*(-1s+$i);
      }
  }
}

@keyframes head {
  0%, 25% {opacity: 1} /* visible for 1s */
  25.01%, 100% {opacity: 0} /* hidden for 4s */
}

@-webkit-keyframes head {
  0%, 25% {opacity: 1} /* visible for 1s */
  25.01%, 100% {opacity: 0} /* hidden for 4s */
}

@media only screen and (max-height: 666px) {
  #hide_mobile {
    display: none;
  }
}
